<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ako:Reset Password</title>
</head>
<body>
    <form id="reset-password">
        <header>
            <h1 style="color: #fff;">Welcome back</h1>
            <p>Reset Password</p>
        </header>
        <section>
            <label>
                <p>Password</p>
                <input type="password" placeholder=" " id="reset-pass">
                <div class="border"></div>
                <div id="reset-pass-div" class="fields"></div>
            </label>
            <label>
                <p>Confirm Password</p>
                <input type="password" placeholder=" " id="reset-confirm-pass">
                <div class="border"></div>
                <div id="reset-confirm-pass-div" class="fields"></div>
            </label>
            <div id="login-error"></div><br>
           <button type="submit" >Login</button>
        </section>
    </form>
    
</body>
</html>