<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ako:Reset Password</title>
  </head>
  <body>
    <form id="reset-password">
      <header>
        <h1 style="color: #fff;">Welcome back</h1>
        <p>Reset Password</p>
      </header>
      <section>
        <label>
          <p>Password</p>
          <input type="password" placeholder=" " id="password" />
          <div class="border"></div>
          <div id="password-div" class="fields"></div>
        </label>
        <label>
          <p>Confirm Password</p>
          <input type="password" placeholder=" " id="confirmPassword" />
          <div class="border"></div>
          <div id="confirmPassword-div" class="fields"></div>
        </label>
        <div id="reset-error"></div>
        <br />
        <button type="submit" id="submit">Reset</button><br />
        <div id="reset-message"></div>
        <br />
      </section>
    </form>
    <script>
      const token = document.location.href.split('/')[
        document.location.href.split('/').length - 1
      ];
      const url = 'https://akoonlineshop.herokuapp.com';
      document.getElementById('submit').addEventListener('click', async (e) => {
        e.preventDefault();
        [...document.getElementsByClassName('fields')].forEach((field) => {
          // eslint-disable-next-line no-param-reassign
          field.style.display = 'none';
        });
        document.getElementById('reset-error').style.display = 'none';
        document.getElementById('reset-message').style.display = 'none';
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirmPassword')
          .value;

        const response = await fetch(`${url}/auth/reset-password`, {
          method: 'POST',
          headers: {
            Authorization: token,
            Accept: 'application/json, text/plain, */*',
            'content-type': 'application/json',
          },
          body: JSON.stringify({
            password,
            confirmPassword,
          }),
        });
        const json = await response.json();
        if (json.error) {
          if (json.status === 400) {
            const errorDiv = document.getElementById(`${json.path}-div`);
            errorDiv.innerHTML = json.error;
            errorDiv.style.display = 'inline';
            errorDiv.style.color = '#d84930';
          } else {
            const errorDiv = document.getElementById('reset-error');
            errorDiv.innerHTML = json.error;
            errorDiv.style.display = 'inline';
            errorDiv.style.color = '#d84930';
          }
        } else {
          const messageDiv = document.getElementById('reset-message');
          messageDiv.innerHTML = json.message;
          messageDiv.style.display = 'inline';
          messageDiv.style.color = '#28a745';
        }
      });
    </script>
  </body>
</html>
