<!DOCTYPE html>
<html>

<head>
    <title>Verify Email</title>
</head>

<body>
    <div>
        <h3>Dear {{name}},</h3>
        <p>Somebody (hopefully You) register on Ako Online Shop, use this code to verify your email <strong>code: [{{code}}]</strong></p>
        <br>
        <p>Cheers!</p>
    </div>
   
</body>

</html>